<div class="cal-month-day <%= cls %>">
	<span class="btn btn-primary pull-right" data-cal-date="<%=  data_day %>"  data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) {%>
		<div class="events-list">
			<% _.each(events, function(event){ %>
			<a href="<%= event.url %>" data-event-id="<%= event.id %>" data-event-class="<%= event.class %>"
			   class="pull-left event <%= event.class %> event<%= event.id %>" data-toggle="tooltip"
			   title="<%= event.titulo %>" data-event-start="<%= event.inicio_timestamp %>" data-event-end="<%= event.final_timestamp %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>